// # Elements: Typography
// -----------------------------------------------------------------------------

h1,
.c-h1 {
	@include font-size($font-size-h1);
	letter-spacing: -0.02em;
	font-weight: $font-weight-bold;
	@include rem(margin-bottom, $global-spacing-unit);
}

h2,
.c-h2 {
	@include font-size($font-size-h2);
	letter-spacing: -0.02em;
	font-weight: $font-weight-bold;
	@include rem(margin-top, $global-spacing-unit-giant);
}

h3,
.c-h3 {
	@include font-size($font-size-h3);
	font-weight: $font-weight-bold;
	@include rem(margin-top, $global-spacing-unit);
}

h4,
.c-h4 {
	@include font-size($font-size-h4);
}

h5,
.c-h5 {
	@include font-size($font-size-h5);
}

h6,
.c-h6 {
	@include font-size($font-size-h6);
}

strong {
	font-weight: $font-weight-bold;
}

em {
	font-style: italic;
}

code {
	color: #96268a;
	background-color: $grey-98;
	font-family: $font-family-mono;
	font-size: 0.8em;
	border: 1px solid $grey-90;
	border-radius: 2px;
	padding: 1px 3px;
}

pre {
	background-color: $grey-98;
	font-family: $font-family-mono;
	font-size: 0.8em;
	border: 1px solid $grey-90;
	border-radius: 2px;
	padding: 12px;

	code {
		display: inline;
		background-color: transparent;
		font-size: 1em;
		max-width: auto;
		border-radius: 0;
		border: 0;
		padding: 0;
	}
}

sub,
sup {
	vertical-align: baseline;
	font-size: 0.8em;
	position: relative;
	top: -0.5em;
}

sub {
	top: 0.3em;
}

ins {
	text-decoration: underline;
}

del {
	text-decoration: line-through;
}

small {
	@include font-size($font-size-h6);
}

hr {
	border: solid $color-border--light;
	border-width: 1px 0 0;
	height: 0;
	@include rem(margin-top, $global-spacing-unit-giant);
	@include rem(margin-bottom, $global-spacing-unit-giant);
}



// ## Lists
// -----------------------------------------------------------------------------

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

dt {
	font-weight: bold;
}

// 1. Consistent indentation for lists
dd,
ol,
ul {
	margin-left: 1.3333rem; // [1]
}



// ## Links
// -----------------------------------------------------------------------------

a {
	color: $color-link;
	text-decoration: underline;
	transition: 0.2s;

	&:hover {
		text-decoration: none;
	}
}
